/* Style pour la version web */
.nav {
  position: fixed;
  background-color: #f8f9fa;
  height: 5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: top 0.3s ease-in-out;
  z-index: 999;
}

.sticky {
  position: fixed;
  width: 100%;
  background: #666;
  z-index: 1000;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.logo{
  max-width: 300px;
  max-height: 70px;
}

.menu-nav-items {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.menu-nav-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav-items ul li {
  display: inline-block;
}

.menu-nav-items ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  transition: border-bottom 0.3s ease;
}

.menu-nav-items ul li a:hover {
  border-bottom: 2px solid #00796b;
}

/* Appliquer la ligne bleue quand le lien est actif */
.menu-nav-items ul li a.active {
  border-bottom: 2px solid #00796b; /* Ligne bleue quand le lien est actif */
}

/* Styles pour la version mobile */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-left: 1rem;
}

.menu-nav-items.open ul {
  display: block;
}

.nav-mobile{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.brand-mobile{
  display: none;
}

@media (max-width: 768px) {

  .nav {
    position: relative;
    background-color: #f8f9fa;
    height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: top 0.3s ease-in-out;
    z-index: 999;
    top: 1.75rem;
  }

  div.brand {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 30%;
  }

  .brand-mobile{
    display: flex;
    width: 70%;
    justify-content: end;
  }

  .brand-mobile img{
    margin-right: 1rem;
  }

  .menu-nav-items {
    position: absolute;
    top: 5rem;
    width: 60%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    left: -500px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .menu-nav-items.open {
    left: 0px;
  }

  .menu-nav-items ul{
    flex-direction: column; /* Aligne les éléments en colonne sur mobile */
  }

  .menu-nav-items ul li{
    position: relative;
    bottom: 7rem;
  }

  .menu-nav-items ul li a {
    color: white;
  }

  .menu-nav-items ul li {
    margin: 1rem 0;
  }
}
