.top-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: none;
}

.hidden {
  transform: translateY(-100%);
}

.top-content {
  background: linear-gradient(to left, #00796b, #4db6ac);
  color: white;
  width: 100%;
}

span {
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .location-top-nav {
    font-size: 12px;
    width: 100% !important;
    justify-content: start;
  }
  span {
    font-size: 12px;
  }
  .top-content {
    width: 100%;
  }
}
