.carousel.slide{
  margin-top: 2rem;
}

.carousel-item img {
    filter: brightness(50%) contrast(120%);
    width: 100%;
    height: auto;
    object-fit: cover; /* Adapte l'image à son conteneur */
    transition: 0.3s ease; /* Animation au survol */
  }
  
  .carousel-item img:hover {
    filter: brightness(70%) contrast(140%);
    transform: scale(1.05); /* Zoom léger au survol */
  }

  /* Retirer le border-radius et personnaliser le bouton */
.custom-btn {
    border-radius: 0; /* Retire les coins arrondis */
    padding: 12px 30px; /* Augmente la taille du bouton (haut-bas, gauche-droite) */
    font-size: 1.2rem; /* Augmente la taille du texte */
  }

  h5{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
  }

  p{
    font-weight: 700;
  }
@media (max-width: 800px) {
  span.carousel-control-prev-icon {
    display: none;
  }
  
  span.carousel-control-next-icon {
    display: none;
  } 
}